{% extends 'base_generic.html'%}

{%block content%}
{% if object %}

<h2>{{object}}</h2>
<hr>
{%if object.foto%}
<img style="width: 15%;" src="{{object.foto.url}}" alt="foto">
{%endif%}
{%if object.book_set%}
 <p style="padding-top: 3em;">Libros escritros</p>
 <ul>
    {%for i in object.book_set.all%}
    <li>{{i}}</li>
    {%endfor%}
 </ul>
{%endif%}

<h3>Biografía</h3>
<hr>
<p style="width: 60%;">{{object.biografia}}
</p>

{%else%}
<h3  class="text-danger">No tenemos datos de este autor</h3>


{%endif%}
{%endblock%}