{%extends 'base_generic.html' %}

{%block content%}


 <h1>{{object.title}}</h1>
 <hr>

  {%if object.portada%}
  
   <img class="text-center" style="width: 15%; height: auto;" src="{{ object.portada}}" alt="">
   
   {%endif%}
   <hr width="2px">
   <p style="width: 60%;">{{object.summary}}</p>


{%endblock%}

{%block sidebar%}
{{block.super}}

<hr>
<ul class="sidebar-nav">
   <li><a href="{%url 'eleminarLibro' object.pk %}"> Eleminar libro</a></li>
   <li><a href="{%url 'actualizar' object.pk%}">Actuaizar libro</a></li>
</ul>


{%endblock%}


